.buttonGenre{
    width: 95%;
    height: 45px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    border: none;
    background-color: var(--backgroundMenuСolor);
    color: var(--textColor);
    font: italic small-caps bold 16px/2 cursive;
}

.buttonGenre:hover{
    border: solid #11335e;
}