.article {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--backgroundСolor);

}

.fcols{
    display: flex;
    flex-wrap: wrap;
}

.fleft{
    width: 185px
}

.fright {
    padding-left: 30px;
    flex-basis: 0;
    flex-grow: 1;
    min-width: 50px;
    display: flex;
    flex-direction: column;
}

.shortHeader{
    display: flex;
    flex-wrap: wrap;
}

.fx1 {
    max-width: 100%;
}

.shortRates {
    flex-direction: column;
}

.shortTitle {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.block_table{
    display: flex;
}

ul{
    list-style: none;
    padding-inline-start: 10px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.ul2{
    padding-inline-start: 50px;
}

li{
    line-height: 1.8;
}

.video{
height: 600px;
    width: 100%;
}

.addComs{
    margin-bottom: 26px;
    padding: 20px;
    background-color:var(--backgroundMenuСolor);
    border-radius: 10px;
    display: flex;
}

.noPost{
    background: url("/public/images/NoPost.png")  ;
    height: 245px;
}

.buttonRev{
    border-radius: 10px;
    cursor: pointer;
    border: none;
    background-color: var(--backgroundMenuСolor);
    color: var(--textColor);
    font: italic small-caps bold 16px/2 cursive;
}